html {
  background-color: #E7E7E7 !important;
  color: inherit;
}

.thumb-img {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .15) !important;
  border-color: #DABBDE !important;
  border-width: 3px !important;
}

#loupeContainer div.background {
  background-color: #E7E7E7 !important;
  color: inherit;
}

header div.background {
  background-color: #E7E7E7 !important;
  color: inherit;
}

.custom-colorable {
  fill: #8C2A8A !important;
}

body {
  background-color: #E7E7E7 !important;
  color: #A653A3 !important;
}
